rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Enable this when doing firestore maintanence
   	// match /{document=**} {
   	// allow read, write: if false;
   	// }

    match /users/{uid} {
    	allow read, update: if request.auth != null && request.auth.uid == uid;
      allow create: if request.auth != null;
    }

    // Although we reject users
    // from logging in with a non-Rutgers email,
    // Firebase auth still registers them but does
    // not create a user document for them. Therefore,
    // request.auth may not be null, but the user still may
    // try to look for courses.

    //This code makes sure that the user is indeed a registered Rutgers student.
    match /courses/{courseId} {
    	allow read: if request.auth != null &&
      get(/databases/$(database)/documents/users/$(request.auth.uid)) != null;
    }
  }
}