@tailwind base;
@tailwind components;
@tailwind utilities;

#title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  /* font-size: 32px; */
  line-height: 39px;
  text-align: center;

  background: linear-gradient(270deg, #b90202 1.14%, #eb897b 43.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#phrase {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  /* font-size: 64px; */
  /* line-height: 77px; */
  text-align: center;

  color: #000000;
}

#scarlet-nav {
  background: linear-gradient(270deg, #b90202 1.14%, #eb897b 43.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
